.slider {
  position: relative;
  min-height: 30px;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.slider .line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: transparent;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}
.slider .cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: solid 3px #ffffff;
}
.unselectable {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.draggable {
  position: absolute !important;
  min-height: 10px;
  min-width: 10px;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.draggable .radius-controller {
  display: none;
  position: absolute;
  right: 0;
  height: 10px;
  z-index: 3;
  top: 0;
  transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}
.draggable.selected:before {
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border: solid 3px #14c7c7;
  border-radius: inherit;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
}
.draggable.selected > .radius-controller {
  display: block;
}
.container {
  position: relative;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  height: 100%;
}
#board {
  position: relative;
  height: 500px;
  width: 500px;
  margin: 15px auto;
  background: #EEE;
}
#parent-rect {
  width: 250px;
  height: 150px;
  background: #999;
}
#child-rect {
  background: #333;
  width: 75px;
  height: 100px;
}
