@draggable_min_height: 25px;
@draggable_min_width: 50px;

.draggable {

	position: absolute !important;
	min-height: @draggable_min_height;
	min-width: @draggable_min_width;

}

.container {

	position: relative;

}