@import (less) "slider";
@import (less) "selectable";
@import (less) "draggable";

@slider_color: transparent;

body {

	position: absolute;
	height:	100%;
	width: 100%;
	margin:	0;
	padding: 0;

}

.wrapper {

	position: relative;
	height: 100%;

}

#board {

	position: relative;
	height: 500px;
	width: 500px;
	margin: 15px auto;
	background: #EEE;

}

#parent-rect {

	width: 250px;
	height: 150px;
	background: #999;

}

#child-rect {

	background: #333;
	width: 125px;
	height: 75px;

}
